<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>
        &copy; <span id="currentYear"></span> {{ currentYear }} | Developed and
        designed by Pakin Basker.
      </p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/pakin-basker-p-69b05b232" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Pakinbaskerp" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:pakinbaskerp@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://wa.me/7358360090?text=Hi, I Love You" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>

        <a href="https://www.instagram.com/pakin_basker/?igsh=Z3V4MmhqdGJpNnVv" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>