<div class="row align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Born to change the wOrld.</h1>
        <h2 class="home-author">Pakin Paul,</h2>
        <h1 class="home-author"><span id="dynamic-text">{{ dynamicText }}</span></h1>
        <blockquote>
          I’m a backend-focused software engineer with 2+ years of experience designing and building scalable, modular systems for production environments. I specialize in System Design, RESTful APIs, microservices, and PostgreSQL—delivering high-performance solutions that are clean, testable, and built for scale. Passionate about clean architecture, Design-first development, and solving real-world product challenges with maintainable code.
      </blockquote>
      
        <button>
            <a routerLink="/portfolio">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  